<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="UserEndpoint" connectionString="https://localhost:5001/api/V1/Users/"></add>
		<add name="EmployeeEndpoint" connectionString="https://localhost:5001/api/V1/Employees/"></add>
		<add name="ClientEndpoint" connectionString="https://localhost:5001/api/V1/Clients/"></add>
		<add name="InventoryEndpoint" connectionString="https://localhost:5001/api/V1/Inventories/"></add>
		<add name="OrderEndpoint" connectionString="https://localhost:5001/api/V1/Orders/"></add>
	</connectionStrings>
</configuration>